<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SuiteToRunTests" parallel="none">
	<test name="All Tests">
		<classes>
			<class name="com.revature.tests.TestTrainerLogin"></class>
			<class name="com.revature.tests.TestTrainerSettings"></class>
			<class name="com.revature.tests.TestReportPage"></class>
			<class name="com.revature.tests.TestSVPLogin"></class>
			<class name="com.revature.tests.TestSVPTrainers"></class>
			<!-- <class name="com.revature.pom.Driver"></class> -->
		</classes>
	</test>
</suite>
