<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.username">joshperry</property>
		<property name="hibernate.connection.password">password1</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@dbinstance.cp6cblgkywsj.us-east-1.rds.amazonaws.com:1521:ORCL</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
<!-- 		<mapping class="com.revature.models.Batch"></mapping>
		<mapping class="com.revature.models.Building"></mapping>
		<mapping class="com.revature.models.Focus"></mapping>
		<mapping class="com.revature.models.Location"></mapping>
		<mapping class="com.revature.models.Skill"></mapping>
		<mapping class="com.revature.model.Trainer"></mapping> -->
		<!-- <mapping class="com.revature.driver.TestTable"/> -->
		 <mapping resource = "Test1.hbm.xml"/> 
		 <mapping resource = "Session.hbm.xml"/>
<!-- 		 <mapping class = "com.revature.driver.TestTable"/>
 -->		<!-- <mapping resource="Employee.hbm.xml"></mapping> -->
	</session-factory>
</hibernate-configuration>