<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>TestServlet</servlet-name>
  	<display-name>TestServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.driver.TestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyServlet3</servlet-name>
  	<display-name>MyServlet3</display-name>
  	<description></description>
  	<servlet-class>com.revature.driver.MyServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TestServlet</servlet-name>
  	<url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyServlet3</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
<!-- 		<welcome-file>../../../test-output/index.html</welcome-file>
 -->		<welcome-file>testApp/index.html</welcome-file>
	</welcome-file-list>
</web-app>
